<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link  href="http://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >
        <link rel="stylesheet" href="{% static "css/fonts.css" %}">
        {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="{% static "css/rtl.css" %}">
        {% endif %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    {% compress js %}
    <script src="{% static "bower_components/bootstrap/dist/js/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>
    <script src="{% static "bower_components/scrollwatch/dist/ScrollWatch-1.1.0.min.js" %}"></script>
    {% block extra_js %}{% endblock %}
    {% endcompress %}
    <!--[if lt IE 9]>
    <script src="{% static "bower_components/bootstrap/js/html5shiv.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
{# This allows for a sticky footer while having a fixed navbar #}
<div id="wrap">

<nav id="main-header" class="navbar-default navbar-fixed-top" role="navigation">
    <div class="main-lockup">
        {% if settings.SITE_TITLE %}
        <div class="lockup-logo">
            <a href="/">Macedonia Baptist Church</a>
        </div>
        <div class="link-lockup">
    {% page_menu "pages/menus/primary.html" %}
        </div>
        {% endif %}
    </div>

    <div class="navbar-collapse collapse">
        {% page_menu "pages/menus/dropdown.html" %}
    </div>    
</nav>
<!--
<div class="container-fluid primary-content">
    <div class="row">
        <div class="col-md-12">
            -->
            {% block main %}{% endblock %}
            <!--
        </div>

    </div>
</div>
-->
</div><!-- /wrap -->

<footer>
    {% page_menu "pages/menus/footer.html" %}
    <div class="footer-lockup">
        <label>
        <p>&copy; 2016 - Created by Tresback Solutions</p>
        </label>
    </div>
</footer>

{% include "includes/footer_scripts.html" %}


</body>
</html>
