{% load pages_tags i18n future %}

{% spaceless %}
<nav class="link-graphical">
        {% for page in page_branch %}
    <a href="{{ page.get_absolute_url }}">
        <div id="graphical-menu-{{ page.html_id }}"
            style="background-image: url('{{MEDIA_URL }}{{ page.gallery.images.all.0.file }}'); background-size: cover" 
            class="graphical-link-item">
        <div class="figure-caption">
            <div>{{ page.title }}</div>
        </div>
        </div>
    </a>
        {% endfor %}
</nav>
{% endspaceless %}
