{% load pages_tags i18n mezzanine_tags %}

{% spaceless %}
{% for page in page_branch %}
  <div class="categories">
    <h2 class="softer standout" >{{ page.title }}</h2>
    <img class="img-responsive profile summary" src="{{ MEDIA_URL }}{% thumbnail page.gallery.images.first.file 131 75 %}">
    <span class="softer">{{ page.description }}</span>
    <a href="{{ page.get_absolute_url }}" class="btn btn-secondary btn-lg btn-block text-uppercase">Read More</a>
  </div>
{% endfor %}
{% endspaceless %}

