{% load pages_tags mezzanine_tags i18n future %}

<div class="template-box">
<header class="special container">
<h2 class="rusty">{{page.title}}</h2>
</header>
<div class="container flex-row">
  <div class="template-content">
    <h4>{{page.rightimageblock.sub_header}}</h4>
    {{ page.rightimageblock.content|richtext_filters|safe }}
  </div>
  {% if page.rightimageblock.file %}
  <div class="template-image">
    <img src="/static/media/{{ page.rightimageblock.file}}">
  </div>
  {% endif %}
</div>
</div>

