{% extends "base.html" %}

{% load mezzanine_tags staticfiles mbc_filters %}


{% block main %}
{{ block.super }}

<article id="main-content" class="screen-box" {% if page.gallery %}style="url('{{page.gallery.images.all.1.file.url}}');
  background-position: bottom left, bottom right, top left, center;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-size: 25em, 25em, auto, cover;"{% endif %}>
  <div class="contrast-box">
      <header class="special container">
<div class="winger">
<span class="fa cross"></span>
</div>
<h2 class="rusty">{{ page.title }}</h2>
</header>
<div class="softer">
    {% if page.gallery %}
    {% block basecontent %}
    <pre>
{{ page.gallery.content|richtext_filters|replace_linebr|safe }}
    </pre>
    {% endblock %}
    {% endif %}
</div>
<div class="page-specific">
{% block extracontent %}{% endblock %}
</div>
</div>
</article>

{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static "mezzanine/js/magnific-popup.js" %}"></script>
<script>
$(document).ready(function() {
    $('.gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true,
        }
    });
});
</script>
{% endblock %}



