{% load mezzanine_tags mbc_filters %}

{% nevercache %}
<input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
{% csrf_token %}
{% endnevercache %}

{% for field in form_for_fields %}
{% if field.is_hidden %}
{{ field }}
{% else %}
<div class="form-group input_{{ field.id_for_label }} row
    {% if field.errors %} has-error{% endif %}">
    {% if field.label %}<label class="control-label col-med-2" for="{{ field.auto_id }}">{{ field.label }}</label>{% endif %}
    <div class="col-med-10">
    {{ field|help_text:field.label }}
    {% if field.errors %}
    <p class="error-block">
        {% for e in field.errors %}
        {% if not forloop.first %} / {% endif %}{{ e }}
        {% endfor %}
    </p>
    {% elif field.help_text %}
    <div id="{{field.label}}Help" class="help-text form-text text-muted">{{field.help_text}}</div>
    {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}
