{% extends "base.html" %}

{% include 'banner.html' %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    <span class="icon fa-plus"></span>
    <h2 class="rusty">We Believe</h2>
    <ul class="buttons">
        <li>We believe the Holy Bible is the Word of God written by men divinely inspired and is the sole authority for life and faith</li>
        <li>We believe there is one and only one true God who exists in the eternal triune (three persons); the Father, the Son, and the Holy Spirit</li>
        <li>God as Father reigns with providential care over His universe, His creatures, and human history according to the purposes of His grace</li>
  </header>

  <!-- One -->
  <section class="wrapper style2 container special">
    <div class="row">
      <div>

        <header>
          <h2>We've got several groups and worship opportunities to help you find a place that you feel at home.</h2>
        </header>
        <p>Come visit us on one of our two Sunday morning services, Sunday School classes, Sunday evening Bible Study, and Wednesday night Prayer Meetings.</p>
        <footer>
          <ul class="buttons">
            <li><a href="#" class="button special">Find Out More About Our Church Events</a></li>
          </ul>
        </footer>

      </div>
    </div>
  </section>
</article>

{% include 'cta.html' %}

{% endblock content %}
